# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment directories
venv/
env/
ENV/
titanic-env/
.venv/
.ENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore compiled code
*.o
*.so
*.a
*.out

# Ignore package files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
__pycache__/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignore IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace